DesktopUtility/.vs
DesktopUtility/DesktopUtility/DesktopUtility.vcxproj.user
DesktopUtility/DesktopUtility/x64/
DesktopUtility/DesktopUtility/Debug/
DesktopUtility/x64/
DesktopUtility/Debug/
DesktopUtility/DesktopUtility/msg*

websocket-server-demo/.vs/
websocket-server-demo/lib_json/x64/
websocket-server-demo/server/x64/
websocket-server-demo/x64/
